@tailwind base;
@tailwind components;
@tailwind utilities;

/* Masquer la scrollbar sur tous les navigateurs */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}   